<footer class="footer">
	<div class="section text-center section-contact-us">				 				 	
		<div class="row">
			<div class="col-md-6">
				<h3>Questions? Contact Us</h3> 			
				<h4>contact@rideit.xyz</h4>	
				<a href="mailto:contact@rideit.xyz" class="btn btn-contact-us">
					Contact us
				</a>			
			</div>			
			<div class="col-md-6">
				<h3>Want to create an app?</h3> 			
				<h4>Get your token and check out our APIs<h4>	
				<a href="http://developer.rideit.xyz/auth/explorer" class="btn btn-contact-us">
					Connect with Github 
				</a>							
			</div>			
			<div class="col-md-12">		
				<br/>										
				<h4>©2016 R!DE !T - Make every ride your ultimate ride.</h4>						
			</div>				
		</div>
	</div>			
</footer>