<footer class="footer">
	<div class="section text-center section-contact-us">				 				 	
		<div class="row">
			<div class="col-md-4">
				<h3>Questions? Contact Us</h3> 			
				<h4>contact@rideit.xyz</h4>	
				<a href="mailto:contact@rideit.xyz" class="btn btn-contact-us">
					Contact us
				</a>			
			</div>			
			<div class="col-md-4">
				<h3>Want to contribute?</h3> 			
				<h4>developer@rideit.xyz<h4>	
				<a href="mailto:developer@rideit.xyz" class="btn btn-contact-us">
					Contribute
				</a>							
			</div>
			<div class="col-md-4">								
				<h3>Want to know more?</h3> 			
				<h4>See how it works!</h4>	
				<a href="/howitworks" class="btn btn-contact-us">
					Learn more
				</a>			
			</div>	
			<div class="col-md-12">		
				<br/>										
				<h4>©2016 R!DE !T - Make every ride your ultimate ride.</h4>						
			</div>				
		</div>
	</div>			
</footer>