<footer class="footer">
	        <div class="container">
	            <nav class="pull-left">
	                
	            </nav>
				 <div class="copyright pull-left">
	                Contact us: <a href="contact@rideit.xyz">contact@rideit.xyz</a>
					|
					Develop with us: <a href="developer@rideit.xyz">developer@rideit.xyz</a>
	            </div>
	            <div class="copyright pull-right">
	                ©2016 <a href="http://www.rideit.xyz">R!DE !T</a> - Make every ride your ultimate ride.
	            </div>
	        </div>
	    </footer>