<footer class="footer">
	        <div class="container">
	            <nav class="pull-left">
	                
	            </nav>
	            <div class="copyright pull-right">
	                ©2016 <b>R!DE !T</b> - <i>Make every ride your ultimate ride.</i>
	            </div>
	        </div>
	    </footer>