<footer class="footer">
	        <div class="container">
	            <nav class="pull-left">
	                
	            </nav>
	            <div class="copyright pull-right">
	                ©2016 R!DE !T - Make every ride your ultimate ride.
	            </div>
	        </div>
	    </footer>