lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
coverage

#db
db.json

# API keys
.env

# Dependency directory
node_modules

# work directory
work/

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db
