<!doctype html>
<html lang="en">
<head>
	{{> html-head}}
</head>

<body class="landing-page">
    {{> single-page-header}}
    <div class="wrapper">
        {{{body}}}
		{{> footer}}
	</div>
</body>
	{{> html-foot}}
</html>
