
	<div class="section section-features text-center">		
		<div>
			<div class="row features">							
				<div class="col-md-4">						
					<div class="info">							
						<div class="icon icon-primary big-icon">
							<i class="material-icons">add_location</i>
						</div>
						<h3 class="info-title">Plan your ride</h3>						
					</div>
				</div>
				<div class="col-md-4">
					<div class="info" >
						<div class="icon icon-primary big-icon">
							<i class="material-icons">directions_bike</i>
						</div>
						<h3 class="info-title">Chase in zones</h3>						
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="info">
						<div class="icon icon-primary big-icon">
							<i class="material-icons">important_devices</i>
						</div>
						<h3 class="info-title">Check performance</h3>						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">				
				<h4 class="text-center description">
				First, plan your ride like you always do but select specific zones of your ride where you’d like to improve your performance.<br/>
				Share those zones with your friends and get ready to race them.
				Get notified each time you enter a chase zone.<br/> 
				Give your best and wrap up your performance online when you’re back home.				
				</h4>									
			</div>
		</div>		
	</div>
	<a name="get-ready-to-ride"></a>		
	<div class="section section-get-ready-to-ride header-filter" style="background-image: url('https://source.unsplash.com/Ej_rTUs5Xm0/1450x750');">
		<div class="container">
			<div class="row">
				<div class="col-md-12">									
					<h1 class="text-center title">Get ready to ride</h1>
					<br/><br/><br/>	
					<h2 class="text-center description">Connect with your Strava account and be part of a first experience with R!DE !T.</h2>
					<br/><br/><br/>	
					<div class="row">
						<div class="col-md-12  text-center">
						<a href="{{{signInEndPoint}}}"><img src="/assets/img/connect_strava.png" height="41px"/></a>
						</div>
					</div>
			
				</div>
			</div>
		</div>
	</div>	
	<div class="section section-for-whom text-center">
		<h2 class="title">For whom?</h2>		
		<div class="row for-whom">
			<div class="col-md-4">														
					<div class="icon icon-primary">
						<i class="big-icon material-icons" style="font-size: 150px;">account_circle</i>
					</div>
					<h3 class="title">You ride alone</h3>
					<h4 class="description description-for-whom">... and want to boost yourselfs.<br/><br/>
						Go on <b>R!DE !T</b>, plan your ride and share the chase zones.<br/><br/>										
						Other riders can plan effort during their own ride and go over these zones to chase you.
					</h4>																															
			</div>
			<div class="col-md-4">														
				<div class="icon icon-primary">
					<i class="big-icon material-icons" style="font-size: 150px;">group</i>
				</div>
				<h3 class="title">You ride with friends</h3>
				<h4 class="description description-for-whom">... or in a cycling club.<br/><br/>								
					Go on <b>R!DE !T</b>, plan your ride and select the chase zones.<br/><br/>
					Ride together and make efforts on each chase zones.							
					Back to home, check out times together.
				</h4>								
			</div>
			<div class="col-md-4">															
				<div class="icon icon-primary">
					<i class="big-icon material-icons" style="font-size: 150px;">landscape</i>
				</div>
				<h3 class="title">You organize challenges</h3>
				<h4 class="description description-for-whom"> ... and want to stimulate competition.<br/><br/> 									
					Go on <b>R!DE !T</b>, plan your challenge and select the chase zones.<br/><br/>
					Participants can join and try to do their best on cumulated chase zones.								
				</h4>							
			</div>
		</div>		
	</div>									