<div class="section section-demo ">
		<div class="row">
			<div class="col-md-5 col-md-offset-1 step1-example-image">														
			</div>
			<div class="col-md-5 vcenter">
				<h3 class="description">Create your ride and appeal others for chasing</h3>
				<h4 class="description">Select the date and the region where you will ride next time or link it to one of your Strava's club activity.<br/><br/>
					Select the zone that you want to achieve an effort during your ride. <br/><br/>															
					Add your Strava's friends that will ride with you.<br/>
					Share your ride online and get notified if someone else would like to chase you.<br/><br/>
					<div class="row">
						<div class="col-md-12  text-center">	
							<a href="#get-ready-to-ride" class="btn btn-primary btn-raised">
								Get ready to ride
							</a>
						</div>
					</div>
				</h4>																		
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-1">	
				<h3 class="description">Get notified in chase zone and ride it</h3>
				<h4 class="description">Put your phone and handsets in your bag or activate your connected watch.<br/><br/>	
					Each time you enter a chase zone you will get a notification.<br/><br/>
					Make your effort!<br/><br/>
					Get notified when you reach the end of the zone. Check-out your current position that day.					
				</h4>																		
			</div>
			<div class="col-md-5 step2-example-image">								
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-1 step3-example-image">											
			</div>
			<div class="col-md-5">
				<h3 class="description">Check-out your time & wrapup efforts online</h3>
				<h4 class="description">Back to home, just synchronise your ride on Strava. 
							Connect on R!DE !T and check-out your efforts on chase zones.<br/><br/>							
							Discuss & share feedback with others to get better next time.<br/><br/>	
					<div class="row">
						<div class="col-md-12  text-center">	
							<a href="#get-ready-to-ride" class="btn btn-primary btn-raised">
								Get ready to ride
							</a>
						</div>
					</div>
				</h4>												
			</div>
		</div>		
</div>								