<div class="header header-filter" style="background-image: url('https://source.unsplash.com/pa0rr3rVB-U/1450x750');">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1 class="title">Make every ride your ultimate ride.</h1>
				<h3>Plan your next race and select bike tracks where you speed. 										
					<br/>
					Share it then get notified when someone else want to chase you.
					<br/>				
					Just ride it together or alone. Wrapup your race online.
				</h3>				
				<form class="contact-form">
					<div class="row">												
						<div class="col-md-2 ">							
							<a href="#get-ready-to-ride" class="btn btn-primary btn-raised">
								Get ready to ride
							</a>							
						</div>
					</div>										
				</form>				
			</div>
		</div>
	</div>
</div>

<div class="main main-raised">
	<div class="container">
		<div class="section text-center section-landing">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="title">How it works?</h2>					
				</div>
			</div>

			<div class="features">
				<div class="row">					
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-primary">
								<i class="material-icons">location_on</i>
							</div>
							<h4 class="info-title">Plan your ride</h4>
							<p> Select the date and the region where you will ride next time. 
								Check who has already plan a ride and speed tracks.<br/><br/>
								Add your friends from Strava that will ride with you or get notified if someone else 
								would like to chase you.<br/><br/>
								Check your gears and get ready to ride.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-primary">
								<i class="material-icons">mode_edit</i>
							</div>
							<h4 class="info-title">Select your speed tracks</h4>
							<p>Our AI engine will give you a list of bike tracks that you probably like to ride.
								Select 3 tracks that you expect to speed on during your ride. <br/><br/>
								Get notified if someone else want to chase you on one of these tracks at the same day.
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-primary">
								<i class="material-icons">equalizer</i>
							</div>
							<h4 class="info-title">Wrapup the race</h4>
							<p>Back to home, just synchronise your ride on Strava. Connect on R!DE !T and check-out your last ride. <br/><br/>
								Discuss & share feedback with other riders to get better next time.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section landing-section">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="text-center title"><a name="get-ready-to-ride">Get ready to ride</a></h2>
					<h4 class="text-center description">Leave us your email and be part of the first experience with R!DE !T. <br/>We are hardly working to finalize a working beta version and will let you know when you can ride with us.</h4>
					<form class="contact-form">
						<div class="row">	
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios">
									I want to plan a ride with friends
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios">
									I want to receive segments in an intelligent way
								</label>
							</div>	
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios">
									I want to wrapup race with friends
								</label>
							</div>	
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios">
									I want to prepage my gears
								</label>
							</div>			
							<div class="form-group label-floating">
								<label class="control-label">Leave us your email adress</label>
								<input type="email" class="form-control">
							</div>							
							<div class="row">
								<div class="col-md-4 col-md-offset-4 text-center">
									<button class="btn btn-primary btn-lg">
										I'm ready
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>