<div class="header header-filter" style="background-image: url('https://source.unsplash.com/pa0rr3rVB-U/1450x750');">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1 class="title">Make every ride your ultimate ride</h1>
				<h2>Plan your ride, chase in zones and check efforts with others</h2>				
				<form class="contact-form">
					<div class="row">												
						<div class="col-md-2 ">							
							<a href="#get-ready-to-ride" class="btn btn-primary btn-raised">
								Get ready to ride
							</a>													
						</div>
					</div>										
				</form>				
			</div>
		</div>
	</div>
</div>

<div class="main main-raised">
	<div class="section text-center section-landing">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="title">How it works?</h2>
				<h4 class="text-center description">
				Plan your next ride and select the chase zones that you want to achieve an effort. 										
				<br/>
				Share it and get ready to ride together or alone. Get notified each time you enter a chase zone.
				<br/>				
				Make your efforts. Check your time and wrapup your ride online.	
				</h4>									
			</div>
		</div>

		<div class="features">
			<div class="row">							
				<div class="col-md-2 col-md-offset-3">						
					<div class="info">							
						<div class="icon icon-primary">
							<i class="big-icon material-icons" style="font-size: 150px;">add_location</i>
						</div>
						<h4 class="info-title">Plan your ride</h4>						
					</div>
				</div>
				<div class="col-md-2">
					<div class="info" >
						<div class="icon icon-primary">
							<i class="big-icon material-icons" style="font-size: 150px;">directions_bike</i>
						</div>
						<h4 class="info-title">Chase in zones</h4>						
					</div>
				</div>
				
				<div class="col-md-2">
					<div class="info">
						<div class="icon icon-primary">
							<i class="big-icon material-icons" style="font-size: 150px;">important_devices</i>
						</div>
						<h4 class="info-title">Check efforts</h4>						
					</div>
				</div>
			</div>
		</div>
	</div>		
	
	<div class="section section-demo ">
		<div class="row">
			<div class="col-md-5 col-md-offset-1">				
					<img src="/assets/img/step1.jpg"/>					
			</div>
			<div class="col-md-5 vcenter">
				<h3 class="description">Create your ride and appeal others for chasing</h3>
				<h4 class="description">Select the date and the region where you will ride next time or link it to one of your Strava's club activity.<br/><br/>
					Select the zone that you want to achieve an effort during your ride. <br/><br/>															
					Add your Strava's friends that will ride with you.<br/>
					Share your ride online and get notified if someone else would like to chase you.<br/><br/>	
					<a href="#get-ready-to-ride" class="btn btn-primary btn-raised">
						Get ready to ride
					</a>
				</h4>																		
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-1">	
				<h3 class="description">Get notified in chase zone and ride it</h3>
				<h4 class="description">Put your phone and handsets in your bag or activate your connected watch.<br/><br/>	
					Each time you enter a chase zone you will get a notification.<br/><br/>
					Make your effort!<br/><br/>
					Get notified when you reach the end of the zone. Check-out your current position that day.					
				</h4>																		
			</div>
			<div class="col-md-5">
											
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-md-offset-1">				
					<img src="/assets/img/step3.jpg"/>							
			</div>
			<div class="col-md-5">
				<h3 class="description">Check-out your time & wrapup efforts online</h3>
				<h4 class="description">Back to home, just synchronise your ride on Strava. 
							Connect on R!DE !T and check-out your efforts on chase zones.<br/><br/>							
							Discuss & share feedback with others to get better next time.<br/><br/>	
					<a href="#get-ready-to-ride" class="btn btn-primary btn-raised">
						Get ready to ride
					</a>
				</h4>	
				<p><br/>
							</p>
												
			</div>
		</div>		
	</div>	
	<div class="section text-center">
				<h2 class="title">For whom?</h2>
				<div class="customer-segments">
					<div class="row customer-segments">
						<div class="col-md-4">														
								<div class="icon icon-primary">
									<i class="big-icon material-icons" style="font-size: 150px;">account_circle</i>
								</div>
								<h3 class="title">You ride alone</h3>
								<h4 class="description">... and want to boost yourselfs a little bit.<br/><br/>
									Go on <b>R!DE !T</b>, plan your ride and share the chase zones.<br/><br/>										
									Other riders can plan effort during their own ride and go over these zones to chase you.
								</h4>																															
						</div>
						<div class="col-md-4">														
							<div class="icon icon-primary">
								<i class="big-icon material-icons" style="font-size: 150px;">group</i>
							</div>
							<h3 class="title">You ride with friends</h3>
							<h4 class="description">... or in a cycling club.<br/><br/>								
								Go on <b>R!DE !T</b>, plan your ride and select the chase zones.<br/><br/>
								Ride together and make efforts on each chase zones.							
								Back to home, check out times together.
							</h4>								
						</div>
						<div class="col-md-4">															
							<div class="icon icon-primary">
								<i class="big-icon material-icons" style="font-size: 150px;">landscape</i>
							</div>
							<h3 class="title">You organize challenges</h3>
							<h4 class="description"> ... and want to stimulate competition.<br/><br/> 									
								Go on <b>R!DE !T</b>, plan your challenge and select the chase zones.<br/><br/>
								Participants can join and try to do their best on cumulated chase zones.								
							</h4>							
						</div>
					</div>
				</div>

			</div>
	
	<div class="section section-get-ride-it">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="text-center title"><a name="get-ready-to-ride">Get ready to ride</a></h2>
				<h4 class="text-center description">Tell us here below what's the most important for you. <br/>
				Connect with your Strava account and be part of the first experience with R!DE !T.</h4>
				<form class="contact-form">
					<div class="row">	
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios">
								I want to plan a ride with friends or organise a challenge.
							</label>
						</div>							
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios">
								I want to select chase zone and get notified when I'm entering or leaving the zone.
							</label>
						</div>	
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios">
								I want to check-out time on efforts and wrapup ride wit others.
							</label>
						</div>																							
						<div class="row">
							<div class="col-md-12  text-center">
								<br/>									
								<a href="{{{signInEndPoint}}}"><img src="/assets/img/connect_strava.png" height="56px"/></a> 									
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>							
</div>