<div class="header header-filter" style="background-image: url('https://source.unsplash.com/pa0rr3rVB-U/1450x750');">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1 class="title">R!DE !T</h1>
				<h2>Make every ride your ultimate ride.</h2>				
				<form class="contact-form">
					<div class="row">												
						<div class="col-md-2 ">							
							<a href="#get-ready-to-ride" class="btn btn-primary btn-raised">
								Get ready to ride
							</a>													
						</div>
					</div>										
				</form>				
			</div>
		</div>
	</div>
</div>

<div class="main main-raised">
	<div class="container">
		<div class="section text-center section-landing">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="title">How it works?</h2>
					<h4 class="text-center description">
					Plan your next ride and select the chase tracks that you want to achieve an effort. 										
					<br/>
					Share it and get notified when someone else want to chase you.
					<br/>				
					Just ride it together or alone. Wrapup your ride online.	
					</h4>									
				</div>
			</div>

			<div class="features">
				<div class="row">							
					<div class="col-md-4">						
						<div class="info">							
							<div class="icon icon-primary">
								<i class="material-icons">location_on</i>
							</div>
							<h4 class="info-title">Plan your ride</h4>
							<p> Select the date and the region where you will ride next time.<br/><br/>								
								Add your friends from Strava that will ride with you or get notified if someone else 
								would like to chase you.<br/><br/>								
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-primary">
								<i class="material-icons">mode_edit</i>
							</div>
							<h4 class="info-title">Select the chase tracks</h4>
							<p>Get a list of tracks that you probably like to ride on.
								Select 3 tracks that you want to achieve an effort during your ride. <br/><br/>
								Get notified if someone else want to chase you on one of these tracks at the same day.
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-primary">
								<i class="material-icons">equalizer</i>
							</div>
							<h4 class="info-title">Wrapup your efforts</h4>
							<p>Back to home, just synchronise your ride on Strava. 
								Connect on R!DE !T and check-out your last ride efforts.<br/><br/>
								Get notified when someone else achieved an effort on these tracks.
								Discuss & share feedback with others to get better next time.<br/>
								</p>
						</div>
					</div>
				</div>
			</div>
		</div>				
		<div class="section section-for-whom landing-section">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="text-center title"><a name="get-ready-to-ride">Get ready to ride</a></h2>
					<h4 class="text-center description">Tell us here below what's the most important for you. <br/>
					Leave us your email and be part of the first experience with R!DE !T.</h4>
					<form class="contact-form">
						<div class="row">	
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios">
									I want to plan a ride with friends
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios">
									I want to check my gears and get ready to ride.
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios">
									I want to select chase tracks and get notified if someone else want to chase me
								</label>
							</div>	
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios">
									I want to wrapup ride and get notified when someone achieve an effort on my chase tracks
								</label>
							</div>										
							<div class="form-group label-floating">
								<label class="control-label">Leave us your email adress.</label>
								<input type="email" class="form-control">
							</div>							
							<div class="row">
								<div class="col-md-12  text-center">									
									<a href="{{{signInEndPoint}}}"><img src="/assets/img/connect_strava.png" height="56px"/></a> 									
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<br/><br/><br/>	
		<div class="section section-full-screen section-signup" style="background-image: url('https://source.unsplash.com/26A0w1D-tfM/1450x750'); background-size: cover; background-position: top center; min-height: 700px;">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">						   
							Any Questions?
					</div>
				</div>
			</div>
		</div>					
		<br/>
	</div>
</div>