<div class="header header-filter" style="background-image: url('https://source.unsplash.com/pa0rr3rVB-U/1450x750');">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1 class="title">Make every ride your ultimate ride.</h1>
				<h3>Plan the date of your next ride.
					Find and select your trail segments you will sprint on. 										
					<br/>
					Share it with your friends & others. 	
					<br/>				
					Just ride it together or alone and wrapup your race online.
				</h3>				
				<form class="contact-form">
					<div class="row">												
						<div class="col-md-2 ">							
							<a href="#get-ready-to-ride" class="btn btn-primary btn-raised">
								Get ready to ride
							</a>							
						</div>
					</div>										
				</form>				
			</div>
		</div>
	</div>
</div>

<div class="main main-raised">
	<div class="container">
		<div class="section text-center section-landing">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="title">How it works?</h2>
					<h5 class="description">We let you plan</h5>
				</div>
			</div>

			<div class="features">
				<div class="row">					
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-primary">
								<i class="material-icons">location_on</i>
							</div>
							<h4 class="info-title">Plan your ride</h4>
							<p> Select the date and the region where you will ride next time. 
								See who is already plan a ride and segments
								Add friends from Strava that will ride with you or get notified if someone else 
								would like to ride with you.
								Check that your gears are ready to ride.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-primary">
								<i class="material-icons">mode_edit</i>
							</div>
							<h4 class="info-title">Select your trail segments</h4>
							<p>Our AI engine will give you a list of trail segments that you probably like to ride.
							   Select 3 segments that you expect to sprint on during your ride. 
							   Get notified if someone else will sprint on one of these segments at the same day.
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="info">
							<div class="icon icon-primary">
								<i class="material-icons">equalizer</i>
							</div>
							<h4 class="info-title">Wrapup the race</h4>
							<p>Back to home, just synchronise your device with strava. Connect on R!DE !T and check-out your last ride. 
								compare day sgments score. Share feedback and impression with other riders.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section text-center section-for-whom">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="title">
							<h3>Tabs with Icons on Card</h3>
						</div>

						<!-- Tabs with icons on Card -->
						<div class="card card-nav-tabs">							
							<div class="content">
								<div class="tab-content text-center">
									<div class="tab-pane active" id="profile">
										<p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
									</div>
									<div class="tab-pane" id="messages">
										<p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
									</div>
									<div class="tab-pane" id="settings">
										<p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- End Tabs with icons on Card -->

					</div>

					<div class="col-md-6">
						<div class="title">
							<h3>Tabs on Plain Card</h3>
						</div>

						<!-- Tabs on Plain Card -->
						<div class="card card-nav-tabs card-plain">							
							<div class="content">
								<div class="tab-content text-center">
									<div class="tab-pane active" id="home">
										<p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
									</div>
									<div class="tab-pane" id="updates">
										<p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
									</div>
									<div class="tab-pane" id="history">
										<p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- End Tabs on plain Card -->
					</div>

				</div>
			</div>
		</div>
		<!-- End Section Tabs -->

		<div class="section landing-section">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2 class="text-center title"><a name="get-ready-to-ride">Get ready to ride</a></h2>
					<h4 class="text-center description">Leave us your email and be part of the first experience with R!DE !T. <br/>We are hardly working to finalize a working beta version and will let you know when you can ride with us.</h4>
					<form class="contact-form">
						<div class="row">	
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios">
									I want to plan a ride with friends
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios">
									I want to receive segments in an intelligent way
								</label>
							</div>	
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios">
									I want to wrapup race with friends
								</label>
							</div>				
							<div class="form-group label-floating">
								<label class="control-label">Leave us your email adress</label>
								<input type="email" class="form-control">
							</div>							
							<div class="row">
								<div class="col-md-4 col-md-offset-4 text-center">
									<button class="btn btn-primary btn-lg">
										I'm ready
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>