<div class="login_wrapper">
  <div class="animate form login_form">
    <section class="login_content">
      <form>
        <img src="./images/ride-it-tranparent.png"/>         
        <div>
         <a class="btn" href="{{{signInEndPoint}}}"><img src="/images/connect_strava.png"/></a>     
        </div>
        <div class="clearfix"></div>
        <br />

        <div class="separator">
          
          <div class="clearfix"></div>
          <br />
          <div>            
                  <p>©2016 R!DE !T is powered by Strava data</p>
                </div>
        </div>
      </form>
    </section>
  </div>
</div>