<div class="login_wrapper">
  <div class="animate form login_form">
    <section class="login_content">
      <form>
         <h1><i class="fa fa-paw"></i> Just ride it!</h1>

        <div>
         <a class="btn" href="{{{signInEndPoint}}}"><img src="/images/ConnectWithStrava.png"/></a>     
        </div>

        <div class="clearfix"></div>
        <br />
        <br />

        <div class="separator">
          
          <div class="clearfix"></div>
          <br />
          <div>
                 
                  <p>©2016 Just-ride-it is powered by Strava</p>
                </div>
        </div>
      </form>
    </section>
  </div>
</div>